[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
requests = "*"
psycopg2-binary = "*"
beautifulsoup4 = "==4.12.3"
lxml = "*"
pillow = "*"
pytz = "*"
channels = "*"
daphne = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
