<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NBA News</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="list-articles row">
				<h1>Recent News</h1>
		</div>
		<div class="detail-container"></div>
	</div>
	<script>
		$(document).ready(function() {
			$.ajax({
				url: "/api/news/",
				method: "GET",
				success: function(data) {
					for (var i = 0; i < data.length; i++) {
							var article = data[i];
							var html = '<div class="article card pt-2 col-md-4" style="width: 25rem;">';
							html += '<img src="'+ article.photo.url + '" class="card-img-top">';
							html += '<div class="card-body">';
							html += '<h5>' + article.title + '</h5>';
							html += '<span class="btn btn-primary read-more" data-article-id=' + article.id + '>Read more</span>';
							html += '</div></div>';
							$(".list-articles").append(html);
					}

						// Bind the click event after articles are appended
					$(".list-articles").on("click", ".read-more", function() {
							var articleId = $(this).data("article-id");
							$.ajax({
									url: "/api/news/" + articleId + "/",
									method: "GET",
									success: function(article) {
											var detailHtml = '<div class="article-detail">';
											detailHtml += '<h2>' + article.title + '</h2>';
											detailHtml += '<div>' + article.news_time + ' ' + article.authority + '</div>'
											if (article.photo) {
													detailHtml += '<img src="' + article.photo.url + '" alt="' + article.photo.title + '" class="img-fluid">';
													detailHtml += '<figcaption>' + article.photo.title + '</figcaption><p></p>'
											}
											detailHtml += '<p> ' + article.content + ' </p>';

											detailHtml += '<button class="btn btn-secondary back-to-list">返回列表</button>';
											detailHtml += '</div>';

											$(".detail-container").html(detailHtml);
											$(".list-articles").hide();
									},
									error: function(xhr, status, error) {
											console.error("AJAX Error: ", status, error);
									}
							});
					});

					$(document).on("click", ".back-to-list", function() {
						$(".detail-container").html('');
						$(".list-articles").show();

					});

				},
				error: function(xhr, status, error) {
						console.error("AJAX Error: ", status, error);
				}
			});
		});
	</script>
</body>
</html>
